[submodule "hector_gazebo"]
	path = hector_gazebo
	url = https://github.com/tu-darmstadt-ros-pkg/hector_gazebo
[submodule "hector_localization"]
	path = hector_localization
	url = https://github.com/tu-darmstadt-ros-pkg/hector_localization
[submodule "hector_models"]
	path = hector_models
	url = https://github.com/tu-darmstadt-ros-pkg/hector_models
