<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find hector_sensors_description)/urdf/sonar_sensor.urdf.xacro" />
  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_CAD2_visuals.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_CAD2_collision.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- Fixed Joint from Core to Rod -->
    <joint name="core_to_rod" type="fixed">
        <parent link="base_link"/>
        <child link="rod_link"/>
        <origin xyz="0.05 0 0" rpy="0 0 0"/> <!-- Adjust offset as needed -->
    </joint>

    <!-- Rod Link -->
    <link name="rod_link">
        <visual>
        <geometry>
            <cylinder length="0.06" radius="0.005"/> <!-- Thin rod -->
        </geometry>
        <material name="black"/>
        </visual>
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
    </link>

    <!-- Fixed Joint from Rod to Camera -->
    <joint name="rod_to_camera" type="fixed">
        <parent link="rod_link"/>
        <child link="camera_link"/>
        <origin xyz="0 0 -0.05" rpy="0 0 0"/>
    </joint>

    <!-- Camera Link -->
    <link name="camera_link">
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
    </link>

        <!-- Fixed Joint from Core to Rod -->
    <joint name="core_to_depth_camera_rod" type="fixed">
        <parent link="base_link"/>
        <child link="depth_camera_rod_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/> 
    </joint>

        <!-- Rod Link -->
    <link name="depth_camera_rod_link">
        <visual>
        <geometry>
            <cylinder length="0.03" radius="0.005"/> <!-- Thin rod -->
        </geometry>
        <material name="black"/>
        </visual>
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
    </link>

    <!-- Fixed Joint from Rod to Camera -->
    <joint name="rod_to_depth_camera" type="fixed">
        <parent link="depth_camera_rod_link"/>
        <child link="depth_camera_link"/>
        <origin xyz="0 0 -0.03" rpy="0 0 0"/>
    </joint>

    <!-- Camera Link -->
    <link name="depth_camera_link">
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
    </link>

  </xacro:macro>
</robot>
